{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    body {
      background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('https://res.cloudinary.com/deb30xqb0/image/upload/v1716060243/mv8uoapmvnk4qqil031b.jpg') no-repeat center fixed;
      background-size: cover;
      width: 100% ;
    } 
    </style>

    <div class="container">
        <img src="{% static 'images/404.jpg' %}" alt="Page Not Found" class="image">
        <h1>Oops! Page Not Found</h1>
        <p>We're sorry, but the page you're looking for doesn't exist.</p>
        <button><a href="{% url 'index' %}">Return to Home</a></button>
    </div>
    {% endblock %}
