{% extends 'base.html' %}
{% load static %}

{% block content %}
<title>Posts List</title>

<div class="images">
    {% for post in object_list %}
        <div class="image-container">
            <div class="image" data-post-url="{% url 'post_detail' post.slug %}">
                <img src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                <div class="text">{{ post.title }}</div>
                <div class="text">{{ post.excerpt }}</div> 
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
