
{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    body {
      background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('https://res.cloudinary.com/deb30xqb0/image/upload/v1716060243/mv8uoapmvnk4qqil031b.jpg') no-repeat center fixed;
      background-size: cover;
      width: 100% ;
    } 
    @media only screen and (max-width: 768px) {
        body {
            background: white;
        }
        #posts {
        display: flex;
        flex-direction: column;
        margin: 10px 10px;
        width: 100%;
    }
      #column {
        width:80%;
      margin:auto;
    }
}
</style>
<div id="posts">
    <div id="column">
        <!-- Showing only 5 of 10 posts in column -->
        {% for post in object_list|slice:":5" %}
        <div id="blog">
            <a href="{% url 'post_detail' post.slug %}" class="post-link">
            <div id="pic" href="{% url 'post_detail' post.slug %}">
                <img src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                <div><h3>{{ post.title }}</h3></div>
                <div id="posttext"><p>{{ post.excerpt }}</p></div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="column">
        {% for post in object_list|slice:"5:10" %}
        <div id="blog">
            <a href="{% url 'post_detail' post.slug %}" class="post-link"></a>
            <div id="pic" data-post-url="{% url 'post_detail' post.slug %}">
                <img src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                <div><h3>{{ post.title }}</h3></div>
                <div id="posttext"><p>{{ post.excerpt }}</p></div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}

