{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    body {
      background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('https://res.cloudinary.com/deb30xqb0/image/upload/v1716060243/mv8uoapmvnk4qqil031b.jpg') no-repeat center fixed;
      background-size: cover;
      width: 100% ;
    } 
    </style>
    <title>{{ post.title }}</title>

    <div class="post-detail">
        <h3>{{ post.title }}</h3>
        <img src="{{ post.featured_image.url }}" alt="{{ post.title }}">
        <p>{{ post.content | safe }}</p>
    </div>

    <div class="comments">
        <h2>Comments ({{ comment_count }})</h2>
        {% for comment in comments %}
            <div class="comment">
                <p><strong>{{ comment.author }}</strong></p>
                <p>{{ comment.content }}</p>
                <p>{{ comment.published_date }}</p>
            </div>
        {% endfor %}
    </div>

    <div class="comment-form">
        <h2>Leave a Comment</h2>
        <form method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}


