{% extends "base.html" %}
{% block content %}

{% load static %}

<!-- index.html starts here -->
<div class = "home"> </div>
        <h1 class="title">Your Guide to Radiant Skincare and Beyond...</h1> 
        <section class="about-me">
          <div class="container">
            <div class="row justify-content-around">
              <div class="col-lg-8 col-md-12" id = "image"> <!-- Use col-lg-8 for larger screens, and col-md-12 for smaller screens -->
                <img src="{% static 'images/me.jpg' %}" alt="My photo" class="img-fluid">
                  <p id ="cover-text">It's time to get your <span>GLOW</span> back.</p>
              </div>
              <div class="col-lg-4 col-md-12">
                <h3>Ciao Bella...</h3>
                  <p>Welcome to my beauty blog!</p>
                   <p> I'm Linda, and I'm passionate about all things beauty-related. Ever since I was young, I've been fascinated by makeup,
                      skincare, and haircare products. What started as a hobby has now turned into a full-blown obsession.</p>
                  <p>In this blog, I'll be sharing some tips and tricks I've learned along the way.
                  <p>Let's explore the latest beauty trends, review new products, and uncover the secrets to looking and feeling your best.</p>
                  <p>I'd love to hear your feedback, so feel free to comment...</p>
                  </div>
              </div>
          </div>
      </section>
      <!-- try -->

<div class="container recommend">
    <div class="row justify-content-around">
      <div class="col-lg-4 col-md-12">
        <h3> The Power of Healthy Food Choices</h3>
        <p>Consuming a balanced diet rich in fruits, vegetables, whole grains, lean proteins, <br>and healthy fats provides essential nutrients that support optimal bodily functions.<br>
          The connection between diet and mental health is profound. Research suggests that a diet high in processed foods and sugar may increase the risk of depression and anxiety,
          while a diet abundant in fruits, vegetables, and omega-3 fatty acids may promote positive mood and mental well-being. <br>
          <br>
          For those looking to enjoy healthy and delicious meals without the hassle of cooking, 
          I highly recommend <a href ="https://lin2907.github.io/Symphony/" style="text-decoration:none" target ="_blank"><em style = "color:rgb(240, 9, 125)" >Restaurant Simphony.</em></a>
          <br>
          <br>
          Their menu features a variety of nutritious options made with fresh, locally-sourced ingredients. <br>
          From vibrant salads and nourishing grain bowls to flavorful vegetarian and vegan dishes, there's something for everyone to enjoy.
          <br>
          <br>
          Plus, the cozy ambiance and friendly staff make dining at 
          <a href ="https://lin2907.github.io/Symphony/" style="text-decoration:none" target ="_blank"><em style = "color:rgb(240, 9, 125)">Restaurant Simphony</em></a> a truly delightful experience.</p>
          </div>
          <div class="col-lg-8 col-md-12">
        <a href ="https://lin2907.github.io/Symphony/" target="_blank">
          <img src="{% static 'images/simphony.png' %}" class="frame" alt="Restaurant Simphony">
           </a>
      </div>
          </div>
          </div>
    <!--Gallery-->
    <h3 style = "text-align: center;"> Product picks and Favorites </h3>
    <hr>
    <div class ="gallery-wrap">
      <img src="{% static 'images/back-arrow.png' %}" id="back" alt="Back arrow">  <!---taken from https://icons8.com/icons/set/arrow-->
    <div class="gallery">
      
<div class="images">
      
</div>
<img src="{% static 'images/next-arrow.png' %}" id="next" alt="Next arrow">

  </div>
  </div>
  <!--Knowledge Quiz-->
  <section class="about-me">
  <div class="container recommend">
    <div class="row justify-content-around">
      <div class="col-lg-8 col-md-12 knowledge">
       <!----<a href="https://lin2907.github.io/general-knowledge-quiz/" target="_blank" aria-label="Take the quiz">-->
          <img src="{% static 'images/quiz.jpg' %}" class="frame" alt="Quiz image">
        
          <!--<button id ="quiz" style="color:white">Take the quiz by clicking on the image</button>-->
          <a href="https://lin2907.github.io/general-knowledge-quiz/" target="_blank" aria-label="Take the quiz" id="quiz">Take the quiz</a>
        </div>
        <div class="col-lg-4 col-md-12">
          <h3> Practice Knowledge...</h3>
          <p>The connection between beauty and intelligence is complex and often subject to cultural and societal perceptions.<br>Studies have shown that individuals often hold stereotypes 
            associating physical attractiveness with positive attributes such as intelligence, competence, and success. 
            This phenomenon, known as the "halo effect," can lead to biased perceptions and assumptions about a person's intelligence based on their appearance.</p>
            <br>
            <p>It's essential to recognize that beauty and intelligence are multifaceted constructs that encompass a range of attributes and experiences. 
              While there may be societal perceptions and stereotypes linking the two, individuals should be evaluated based on their unique qualities, talents, 
              and contributions rather than superficial characteristics. Ultimately, both beauty and intelligence are valuable aspects of human diversity and should 
              be celebrated in their own right.</p>
        </div>
        </div>
      </div>
  </section>
  {% endblock %}